# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/data/spins.json

# Frontend
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/tsconfig.*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
.DS_Store
